@model WebStoreDALBLL.Models.Vare
<div class="row">
    <div class="col-lg-4">
        <h4>Vare</h4>
        <hr />
        <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kvantitet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kvantitet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.beskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.produsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori)
        </dd>
       

        </dl>

        <p>
            @Html.ActionLink("Legg i handlevognen", "AddToCart", new { vareID = Model.id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Tilbake", "BrowseCategories")
        </p>
    </div>



    <div class="col-lg-1 ">
        
        <br />
        <br />
        <br />
        <br />
                <img src="@Model.photoURL" width="400"  />
           
    </div>
</div>

