@model WebStoreDALBLL.Models.Bestilling

@{
    ViewBag.Title = "DetailsOrder";
}

<h2>Detaljer</h2>

<div>
    <h4>Bestilling</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.dato)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dato)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kundeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kundeID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kunde.fornavn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.etternavn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kunde.telefonnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.telefonnr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kunde.epost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.epost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kunde.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.adresse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kunde.postnr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.postnr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.kunde.poststed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kunde.poststed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.prisTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prisTotal)
        </dd>

    </dl>
</div>
<div class="row" width="350">
  
        <div class="col-md-3">
            <strong>@Html.DisplayNameFor(model => model.varer[0].Vare.navn)</strong>
        </div>
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.varer[0].Antall)</strong>
        </div>
        <div class="col-md-2">
            <strong>@Html.DisplayNameFor(model => model.varer[0].Vare.pris)</strong>
        </div>

</div>

    @foreach (var item in Model.varer)
    {
        <div class="row">
            <div class="col-md-3">
                @Html.DisplayFor(modelItem => item.Vare.navn)
            </div>
            <div class="col-md-2">

                @Html.DisplayFor(modelItem => item.Antall, new { @id = (item.Vare.id + "l") })
            </div>
            <div class="col-md-2">
                @Html.DisplayFor(modelItem => item.Vare.pris)
            </div>


        </div>
    }
<div class="row">
    <div class="col-md-3 bg-info">
        <strong>Sum total</strong>
    </div>
    <div class="col-md-2 bg-info">
        <strong>:</strong>
    </div>
    <div class="col-md-2 bg-info">
        <strong>@Html.DisplayFor(model => model.prisTotal)</strong>
    </div>
</div>
 <br />

            
       
 




