@model List<WebStoreDALBLL.Models.Bestilling>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model[0].dato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].kundeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model[0].prisTotal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dato)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.kundeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.prisTotal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Detaljer", "DetailsOrder", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
