@model WebStoreDALBLL.Models.Vare

@{
    ViewBag.Title = "DetailsGoods";
}

<h2>Varedetaljer</h2>

<div>
    <h4>Vare</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.navn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.navn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pris)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pris)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kvantitet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kvantitet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.beskrivelse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.beskrivelse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.produsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kategori)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kategori)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditGoods", new { id = Model.id }, new { @class = "btn btn-warning" }) |
    @Html.ActionLink("Tilbake til varer", "ListGoods","Admin", new { @class = "btn btn-primary" })
</p>
